.section-2{
  &__body{
    display:flex; 
    flex-direction: column;
    width: $container-width;
    margin: 0 auto;
    margin-top: 2rem; 
    margin-bottom: 2rem; 
    
    @include respond(tab-land){
      width: $container-width-tab-land;
    }
    @include respond(tab-port){
      width: $container-width-tab-port;
    }
    @include respond(phone){
      width: $container-width-phone;
    }
  }
  
  &__grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1rem;
    margin-top: 1rem;

    @include respond(phone){
      grid-template-columns: 1fr;
      grid-row-gap: 2rem;
    }
    
    & > div{
      border-radius: 3px;
    }
  }

  &__header{
    font-size:1rem;
    display:flex;
    justify-content: space-between;
    border-bottom: 4px solid $color-gray-background;
    
    h3 {
      font-weight: bold !important;
      color: $color-title;
    }

    a {
      color: var(--color-primary);
    }

    @include respond(phone){
      align-items: baseline;
    }
  }

  &__group {
    display: flex;
    flex-direction:column;
    align-items:flex-end;
    justify-content: flex-end;
    background-position: center;
    background-size: cover;
    height: 400px;
    border-radius: 4px;
    &, &:link, &:visited{
      text-decoration:none;
    }

    @include respond(phone){
      height: 53.33vw;
      background-size:contain;
      background-repeat:no-repeat;
      background-color: $color-image-background;
    }
  }

  &__group-wraper{
    overflow:hidden;
  }
  

  &__group:hover{
    /* -webkit-box-shadow: 0px 0px 5px 6px rgba($color-title, .2); */
    /* box-shadow:0px 0px 5px 6px rgba($color-title, .2); */
    transform: scale(1.05);
    transition: .5s;
  }
  
  &__group:hover &__group-content{
    background-color: rgba($color-black, .8);
    color: $color-white;
    transition: all .5s;
  }
  
  &__group-content{
    background-color: transparent;
    color: transparent;
    width: 100%;
    padding: 6px 10px 5px 20px; 

    h4{
      font-weight: bold;
    }

    p{
      font-size: .8rem;
    }

    @include respond(phone){
      background-color: rgba($color-black, .8);
      color: $color-white;
      transition: all .5s;
    }
  }

  &--service{
    margin-top: 4rem;
  }
}

.section-3{
  background-image: linear-gradient(rgba($color-black, .48), rgba($color-black, .48)), url('/img/middle.JPG');
  background-position:center;
  background-size: cover;
  &__body{
    margin: 0 auto;
    width: $container-width;
    height: 20vw;  
    display: flex;
    justify-content:center;
    align-items:center;
    @include respond(tab-land){
      width: $container-width-tab-land;
    }
    @include respond(tab-port){
      width: $container-width-tab-port;
    }
    @include respond(phone){
      width: $container-width-phone;
    }
  }
  
  &__title{
    display:block;
    // font-weight: bold; 
    font-family:Futura LT Medium;
    font-size: 3.5rem;
    color: $color-white;
  }

  
}


.section-5{
  margin-bottom: 2rem;  
  &__body{
    margin: 0 auto;
    margin-top: 4rem; 
    width: $container-width;
    display:flex;
    justify-content: space-between;
    
  }

  &__img{
    
    & > img{
      width:20rem; 
      height: auto;
      border-radius: 10px;
      border: 2px solid $color-light-gray;
      box-shadow: 5px 10px 22px $color-light-gray;
    }
  }

  &__right{
    display:flex;
    flex-direction:column;
    justify-content: space-around; 
  }

  &__item{
    width: 25rem; 
    &-title{
      font-family:Futura LT Medium; 
      font-size: 1.2rem;
    }
    &-content{
      color: $color-light-gray-9;
    }
  }
}

.section-spec{
  overflow-x: hidden;
  &__body{
    width: $container-width;
    margin: 0 auto;
    margin-top: 2rem;
    padding-bottom: 4.9rem;
    position: relative;
    
    @include respond(tab-land){
      width: $container-width-tab-land;
    }
    @include respond(tab-port){
      width: $container-width-tab-port;
      padding-top: 2.4rem;
      padding-bottom: 0rem;
      
      &::before,
      &::after {
        position: absolute;
        content: "";
        background-color: $color-light-gray;
        height: 8px;
        width: 100%;
        transform: scaleX(2);
      }

      &::before{
        top: 0;
        left: 0;
      }

      &::after{
        bottom: 4px;
        left: 0;
      }
      
    }
    @include respond(phone){
      width: $container-width-phone;
      
    }
  }
  
  &__title{
    @include homeTitlesFont;
    text-align: center;
  }
  
  &__content{
    margin-top: 4.85rem;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    @include respond(tab-port){
      margin-left:auto;
      margin-right:auto;
      margin-top: 2rem;
    }
    @include respond(phone){

    }
  }

  &__spec{
    min-width: 15rem;
    margin-bottom: 1.85rem;
    font-size:0.9rem;
    @include respond(phone){
      width: 50%;
      min-width: 0;
    }
    
    
    &--name{
      color:rgba($color-light-gray-2,1);
      text-transform: uppercase;
      margin-bottom: 0.8rem;
      @include respond(phone){
        margin-bottom: 0.2rem;
      }
    }

    &--value{
      font-weight: bold;
    }

    @include respond(tab-port){
      border-bottom: 1px solid $color-light-gray;
      margin-bottom: .9rem;
      padding-bottom: .9rem;
    }
  }
}

.section-team{
  background-color:$color-black;
  color: $color-white;
  &__body{
    width: $container-width;
    margin: 0 auto;
    background-image: url('/img/chess.png');
    background-size: cover;
    background-repeat:no-repeat;
    padding-bottom:11rem;
    @include respond(tab-land){
      width: $container-width-tab-land;
    }
    @include respond(tab-port){
      width: $container-width-tab-port;
      margin-top: -1rem;
      text-align: center;
      padding-top: 3rem;
      padding-bottom:3rem;
    }
    @include respond(phone){
      width: $container-width-phone;
    }
  }
  
  &__title{
    padding-top: 4.4rem;
    padding-bottom:2.85rem;
    @include homeTitlesFont;
    
    @include respond(tab-port){
      padding-top: 0;
      padding-bottom: 3rem;
    }
  }

  &__content{
    display:flex;
    @include respond(tab-port){
      flex-wrap: wrap;
    }
  }
  
  &__member{
    display: flex;

    &--photo{
      margin-right: 2rem;
      background-color: $color-white;
    }

    &--holder{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    
    &--title{
      @include homeTitlesFont;
      font-size: 1.2rem;
      margin-bottom: 1.1rem;
      margin-top: 2.55rem;

      @include respond(tab-port){
        font-size: 1.3rem;
      }
    }

    &--name{
      @include homeTitlesFont;
      margin-bottom: 2.1rem;
    }

    @include respond(tab-port){
      margin-bottom: 1.5rem;
    }
  }

  &__link-holder{
    margin-top: 3.2rem;
    font-size: 0.9rem;
    @include respond(tab-port){
      font-size: 1.6rem;
    }
  }
  
  &__link {
    &,
    &:link,
    &:visited{
      color: var(--color-primary-light);
      text-transform: uppercase;
      text-decoration: none;
    }
  }
}
