.home{
  &__carousel{
    overflow-x:hidden;
  }
  
  &__carousel-img{
    width: 100%;
    height: 500px !important;
    background-position: center;
    background-size:cover;
    @include respond(phone){
      height: 53.33vw !important; 
    }
  }

  &__carousel-caption{
    h3{
      font-size: 2rem;
      font-weight:bold;
    }

    p{
      font-size: 1rem;
    }
    
  }

  &__aboutus{
    display:grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 4rem;
    height: 300px;
    margin-top: 1rem;

    @include respond(phone){
      grid-template-columns: 1fr;
      grid-row-gap: 1rem;
      height: auto;
    }
    
    &-img{
      background-image:url('/img/enterprise.jpg');
      background-blend-mode: hard;
      background-position: center;
      background-size: cover;
      border-radius: 4px;
      @include respond(phone){
        height: 53.33vw; 
      }
    }
    &-content{
      font-size: 1rem;
    }
  }

  &__news{
    padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;

    @include respond(phone){
      grid-template-columns: 1fr;
      & p{
        
      }
    }
    
    & > a{
      display: block;
      text-decoration:none;
      color: $color-black ;

      &:active, &:hover{
        color: $color-title ;
      }
      
    }
  }
}
